body {
  font-family: sans-serif;
  line-height: 1.4em;
}
h1 {
  margin: 30px 0;
}
h2 {
  margin: 50px 0 20px 0;
}
.notification {
  color: #00f;
  background: #d3d3d3;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.notification.error {
  color: #f00;
}
.notification.success {
  color: #008000;
}
.blog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 14px;
  margin: 0;
  padding: 0;
}
.blog-list .blog {
  width: calc(50% - 7px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px 0;
}
.blog-list .blog .vote {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}
.blog-list .blog .vote button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
}
.blog-list .blog .vote button:hover {
  cursor: pointer;
}
.blog-list .blog a.info {
  width: calc(100% - 90px);
  text-decoration: none;
  color: inherit;
  background: #e5e5e5;
  padding: 10px 20px;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.blog-list .blog a.info:hover {
  background: #d9d9d9;
}
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 10px;
}
form div {
  width: 100%;
}
form div label {
  display: inline-block;
  width: 84px;
}
form input[type='submit'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #e5e5e5;
  border: none;
  margin: 5px 0;
  padding: 10px 20px;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
form input[type='submit']:hover {
  cursor: pointer;
  background: #d9d9d9;
}
@media (max-width: 899px) {
  .blog-list .blog {
    width: 100%;
  }
}
